* {
    margin: 0;
    padding: 0;
    height: 100%;

}

.nav {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.head {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.articleAndFooter {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.articleFooterAside {
    display: flex;
    flex-direction: row;
    flex: 1;
}

nav {
    background: #DDDDFF;
    width: 25vh;
}

header {
    background: #AFFAFF;
    height: 15vh;
}

footer {
    background: #AFFAFF;
    height: 20vh;
}

article {
    width: 50vh;
}

aside {
    background: #FFCACC;
    width: 20vh;
}
